<section class="service-sec" id="service">
  <div class="main-banner d-flex justify-content-center align-items-center">
    <h1 class="position-relative">
      Service
      <span class="icon-text-main">
        <img src="text-main-slogen.svg" alt="main slogan"
      /></span>
    </h1>
  </div>
  <div class="row justify-content-center align-items-center flex-wrap gap-3">
    <div class="box-service col-xl-5 d-flex flex-row align-items-center">
      <div class="col-2 col-sm-4">
        <img src="coffe-image.png" alt="service" />
      </div>
      <div class="col-10 col-sm-8 text-center">
        <h2>Responsive Web Design</h2>
        <p class="p-text">
          "I specialize in creating fully responsive web designs that adapt
          seamlessly to any device, providing users with an exceptional
          experience whether on a desktop, tablet, or mobile phone."
        </p>
      </div>
    </div>
    <div class="box-service col-xl-5 d-flex flex-row align-items-center">
      <div class="col-2 col-sm-4">
        <img src="coffe-image.png" alt="service" />
      </div>
      <div class="col-10 col-sm-8 text-center">
        <h2>Fast Turnaround and Easy Communication</h2>
        <p class="p-text">
          "I offer quick response times and streamlined project execution while
          maintaining open and easy communication throughout the development
          process."
        </p>
      </div>
    </div>
    <div class="box-service col-xl-5 d-flex flex-row align-items-center">
      <div class="col-2 col-sm-4">
        <img src="coffe-image.png" alt="service" />
      </div>
      <div class="col-10 col-sm-8 text-center">
        <h2>Frontend Frameworks Expertise</h2>
        <p class="p-text">
          "With expertise in Angular modern frontend frameworks, I deliver
          scalable and maintainable solutions tailored to your project's needs."
        </p>
      </div>
    </div>
    <div class="box-service col-xl-5 d-flex flex-row align-items-center">
      <div class="col-2 col-sm-4">
        <img src="coffe-image.png" alt="service" />
      </div>
      <div class="col-10 col-sm-8 text-center">
        <h2>Interactive User Interfaces</h2>
        <p class="p-text">
          "I design and develop engaging and interactive user interfaces that
          focus on both functionality and aesthetics to ensure an intuitive user
          experience."
        </p>
      </div>
    </div>
    <div class="box-service col-xl-5 d-flex flex-row align-items-center">
      <div class="col-2 col-sm-4">
        <img src="coffe-image.png" alt="service" />
      </div>
      <div class="col-10 col-sm-8 text-center">
        <h2>Performance Optimization</h2>
        <p class="p-text">
          "I optimize frontend performance by reducing load times and improving
          responsiveness, ensuring your website runs smoothly and efficiently."
        </p>
      </div>
    </div>
  </div>
  <div class="planet d-none d-sm-block">
    <img src="planet.png" alt="planet image" />
  </div>
</section>
