$main-color: #561893;

.about-sec {
  margin-bottom: 100px;
}

.cycle {
  position: relative;
  margin-top: 50px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  @media (max-width: 991px) {
    margin-top: 0;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    padding: 30px;
  }
}

.cycle-2 {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    padding: 30px;
  }
}

.image-site {
  position: absolute;
  top: -150px;
  right: -130px;
  width: 400px;
  height: 400px;
  z-index: -1;
}
