<section class="about-sec" id="about">
  <div class="main-banner d-flex justify-content-center align-items-center">
    <h1 class="position-relative">
      About me
      <span class="icon-text-main">
        <img src="text-main-slogen.svg" alt="main slogan"
      /></span>
    </h1>
  </div>
  <div
    class="d-flex justify-content-center align-items-center flex-wrap flex-column flex-md-row"
  >
    <div class="cycle p-md-5">
      <img
        src="site-image.png"
        alt="not found"
        class="image-site d-none d-lg-block"
      />
      <p class="p-text mw-100">
        I am a professional front-end developer who strongly focuses on creating
        responsive, user-friendly, and visually appealing web interfaces. My
        goal is to bridge the gap between design and functionality by
        transforming creative ideas into interactive and dynamic websites. With
        expertise in HTML, CSS, JavaScript, and frameworks like Angular React, I
        specialize in delivering clean, efficient code and seamless user
        experiences. I also have a strong understanding of design principles,
        ensuring that every project I work on is functional and aesthetically
        pleasing.
      </p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="cycle-2 p-md-5">
        <h3>Education</h3>
        <p class="p-text mw-100">
          Ain Shams University Bachelor's, Law Oct 2020 - Jun 2024 Grade: Good
        </p>
      </div>
      <div class="cycle-2 p-md-5 d-block d-md-none">
        <h4 class="text-center">Software Engineer</h4>
        <p class="p-text mw-100">
          Digital Egypt Pioneers Initiative Internship Apr 2024 to Oct 2024 · 7
          mos
        </p>
      </div>
    </div>
  </div>
</section>
