<nav class="navbar navbar-expand-md py-2 py-md-0 px-3">
  <a class="navbar-brand" href="/">
    <img src="brand-main.svg" alt="Amr brand" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fa-solid fa-bars icon-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="#service">Service</a>
      <a class="nav-link" href="#about">About</a>
      <a class="nav-link" href="#project">Project</a>
    </div>
    <button class="btn-main m-2 m-md-0">
      <a href="#contact">Contact Me</a>
    </button>
  </div>
</nav>
