<section class="project-sec" id="project">
  <div class="main-banner d-flex justify-content-center align-items-center">
    <h1 class="position-relative">
      Project
      <span class="icon-text-main">
        <img src="text-main-slogen.svg" alt="main slogan"
      /></span>
    </h1>
  </div>
  <div class="row justify-content-center align-items-center flex-wrap gap-4">
    <div
      class="project-box col-md-5 col-xl-4 d-flex flex-column overflow-hidden p-0"
    >
      <div>
        <img src="portfolio.png" alt="project image" class="w-100" />
      </div>
      <div class="p-3">
        <h2>Portfolio Amr</h2>
        <p class="p-text">
          Portfolio, I use angular typescript bootstrap sass html css
        </p>
        <a
          href="https://amrkhaledgamal.github.io/E-commerce-lotus-haven"
          target="_blank"
          class="text-decoration-underline"
          >Link Website <i class="fa-solid fa-arrow-right-long fa-beat ms-2"></i
        ></a>
      </div>
    </div>
    <div
      class="project-box col-md-5 col-xl-4 d-flex flex-column overflow-hidden p-0"
    >
      <div>
        <img src="lotus.png" alt="project image" class="w-100" />
      </div>
      <div class="p-3">
        <h2>lotus haven</h2>
        <p class="p-text">
          E-commerce, I use angular typescript bootstrap sass html css
        </p>
        <a
          href="https://amrkhaledgamal.github.io/E-commerce-lotus-haven"
          target="_blank"
          class="text-decoration-underline"
          >Link Website <i class="fa-solid fa-arrow-right-long fa-beat ms-2"></i
        ></a>
      </div>
    </div>
    <div
      class="project-box col-md-5 col-xl-4 d-flex flex-column overflow-hidden p-0"
    >
      <div>
        <img src="Amr.png" alt="project image" class="w-100" />
      </div>
      <div class="p-3">
        <h2>Amr Website</h2>
        <p class="p-text">
          Portfolio, <br />
          I use html css Javascript
        </p>
        <a
          href="https://amrkhaledgamal.github.io/template_three/"
          target="_blank"
          class="text-decoration-underline"
          >Link Website <i class="fa-solid fa-arrow-right-long fa-beat ms-2"></i
        ></a>
      </div>
    </div>
    <div
      class="project-box col-md-5 col-xl-4 d-flex flex-column overflow-hidden p-0"
    >
      <div>
        <img src="consultation.PNG" alt="project image" class="w-100" />
      </div>
      <div class="p-3">
        <h2>Consultation</h2>
        <p class="p-text">
          Consultation, <br />
          I use html css Javascript
        </p>
        <a
          href="https://amrkhaledgamal.github.io/templateFour/"
          target="_blank"
          class="text-decoration-underline"
          >Link Website <i class="fa-solid fa-arrow-right-long fa-beat ms-2"></i
        ></a>
      </div>
    </div>
    <div
      class="project-box col-md-5 col-xl-4 d-flex flex-column overflow-hidden p-0"
    >
      <div>
        <img src="jasper.PNG" alt="project image" class="w-100" />
      </div>
      <div class="p-3">
        <h2>Jasper</h2>
        <p class="p-text">
          Jasper, <br />
          I use html css Javascript
        </p>
        <a
          href="https://amrkhaledgamal.github.io/template_two/"
          target="_blank"
          class="text-decoration-underline"
          >Link Website <i class="fa-solid fa-arrow-right-long fa-beat ms-2"></i
        ></a>
      </div>
    </div>
    <div
      class="project-box col-md-5 col-xl-4 d-flex flex-column overflow-hidden p-0"
    >
      <div>
        <img src="Coworking.PNG" alt="project image" class="w-100" />
      </div>
      <div class="p-3">
        <h2>Coworking</h2>
        <p class="p-text">
          Coworking Website, <br />
          I use html css Javascript
        </p>
        <a
          href="https://amrkhaledgamal.github.io/templateFive/"
          target="_blank"
          class="text-decoration-underline"
          >Link Website <i class="fa-solid fa-arrow-right-long fa-beat ms-2"></i
        ></a>
      </div>
    </div>
  </div>
</section>
