<section class="home-sec row g-0">
  <div
    class="information col-lg-7 d-flex flex-column justify-content-center p-3 position-relative"
  >
    <h1 class="position-relative mb-3">
      Hi, I’m Amr Khaled
      <span class="icon-text"><img src="text-top-icon.svg" alt="icon" /></span>
    </h1>
    <h3 class="mb-3">Software Engineer</h3>
    <h3 class="mb-3">Front-End Development</h3>
    <p class="mb-3 p-text">
      As a Junior Front-End Developer with a background in Law from Ain Shams
      University, I bring a unique perspective to problem-solving and critical
      thinking in the tech industry. I interned at DEPI, specializing in
      AngularJS to build responsive, user-friendly web applications.
    </p>
    <div class="button-main d-flex flex-row align-items-center gap-3">
      <button class="btn-main">
        <a href="https://wa.me/qr/FWGMNOVLGFACE1" target="_blank"
          >Hire Me <i class="fa-brands fa-whatsapp ms-2"></i
        ></a>
      </button>
      <button class="btn-main">
        <a href="AmrKhaledGamal.pdf" download="Amr_Khaled_CV.pdf"
          >Download CV</a
        >
      </button>
    </div>
    <span class="flash d-block d-sm-none"></span>
  </div>

  <div
    class="image-container col-lg-5 overflow-hidden rounded-circle d-none d-lg-block"
  >
    <img src="main-image.png" alt="profile Image" class="image-main" />
  </div>
</section>
